<<<<<<< Updated upstream
#tristate-input {
  width: 100% !important;
<<<<<<< HEAD
}
#filter-wrapper .MuiBox-root {
  gap: 10px;
}
.price-range-btm {
  display: flex;
  justify-content: space-between;
=======
=======
#body{
    margin: 10px;
>>>>>>> Stashed changes
>>>>>>> adf80dcb9771f08b0a72effccffc0eb0319b6a85
}